.container-view{
	border-radius: 15px;
	border:1px solid #c8ced3;
	box-shadow: 1px 1px 2px 0px rgb(0 0 0 / 75%);
}

.bg-grey{
	background: #dadada !important;
}

.border-detail{
	border-bottom: 1px solid white;
}

.detail-param{
	/*background-color: #29363d;*/
	background-color: #d51201;
	height: 54px;

}
.detail-param-value{
	padding-top: 12px; 
	font-size: 1em;
	font-weight: 780;
	/*overflow-x:hidden; */
}

.detail-param:after{
	z-index: 222; 
    background: transparent;
    /*color:#29363d;*/
    color:#d51201;
    border-left: 27px solid;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    /*display: inline-block;*/
    content: '';
    position: absolute;
    right: -27px;
    top:0;
}

.detail-value{
	padding:12px 7px 7px 27px; 
	font-size: 1em;
	font-weight: 780;
	display: block;
	height: 54px;
}

.person-name{
	font-weight: 800;
	font-size: 1.2em;
}

.person-avatar{
	border : 2px solid #e40202;
}

.container-person{
	border-radius: 11px;
	background-color: #2f49ca;background-image: url(../img/login_background.jpeg);background-size: cover;background-repeat: no-repeat;background-position: center;
}

.nav-chart, .nav-deliverable{
	background: white !important;
}
.tab-content{
	border:0px !important;
}

.nav-chart .nav-link.active, 
.nav-tabs .nav-link-chart.active,
.nav-deliverable .nav-link.active, 
.nav-tabs .nav-link-deliverable.active{
	border:0px !important;
	font-weight: 700 !important;
	color: #e40202 !important;
}
.scroll-thin::-webkit-scrollbar-thumb {
	height: 16px !important;
    border-radius: 3px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.86, #f5f5f5));
}